body {
	border: 10px green solid;
	height: 95vh;
	background-color: #FFE4BB;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#mapa {

	height: 350px;
	width: 350px;
	
}